<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Időpont</th>
            <th>Státusz</th>
            <th>Teendő</th>
            <th>Funkciók</th>
        </tr>   
    </thead>
    <tbody>

        {{#each errors as |error|}}
        <tr>
            {{!--{{log this}}--}}
            <td>{{error.date}}</td>
            <td><span class="label label-success">{{error.status}}</span></td>
            <td>{{error.todo}}</td>
            <td>
                {{link-to "Megtekint" "errors.view" error class="btn btn-default btn-sm"}}
                {{link-to "Szerkeszt" "errors.edit" error class="btn btn-default btn-sm"}}
                <button {{action "deleteError" error}} class="btn btn-default btn-sm">Töröl</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>